// SPDX-License-Identifier: GPL-2.0-only
/*
 * Wireless Charger config for RA9530.
 * Intended to be included into the approriate I2C bus.
 *
 * Copyright 2023 Google LLC
 */

&ra9530 {
	/* HPP */
	google,hpp_neg_pwr = <21500>;
	google,epp_neg_pwr = <13500>;
	google,wait_prop_irq_ms = <6000>;
	/* RTx */
	idt,gpio_ben = <&ln8411_gpio 0 GPIO_ACTIVE_HIGH>;

};

