// SPDX-License-Identifier: GPL-2.0-only
/*
 * Display nodes for tokay-related boards.
 *
 * Copyright 2023 Google LLC
 *
 */

#include <dt-bindings/gpio/gpio.h>

&dsim_modes {
	dsim-modes {
		1080x2424 {
			mode-name = "1080x2424";
			pmsk = <
				0x2 0xf6 0x3 0x1800 /* p m s k */
				>;
			hs-clk = <756>;
			esc-clk = <20>;
		};
	};
};

&drmdsim0 {
	#address-cells = <1>;
	#size-cells = <0>;

	google_tk4b: panel@0 {
		compatible = "google,tk4b";
		label = "google-tk4b";
		channel = <0>;
		touch = <&spitouch>;

		/* reset, power */
		reset-gpios = <&gpp0 0 GPIO_ACTIVE_HIGH>;
		vci-supply = <&m_ldo14_reg>;
		vddi-supply = <&s_bucka_reg>;
		vddd-supply = <&disp_vddd>;
		vddd-gpios = <&gpp21 5 GPIO_ACTIVE_HIGH>;
	};

	google_tk4a: panel@1 {
		compatible = "google,tk4a";
		label = "google-tk4a";
		channel = <0>;
		touch = <&spitouch>;

		/* reset, power */
		reset-gpios = <&gpp0 0 GPIO_ACTIVE_HIGH>;
		vci-supply = <&m_ldo14_reg>;
		vddi-supply = <&s_bucka_reg>;
		vddd-supply = <&disp_vddd>;
		vddd-gpios = <&gpp21 5 GPIO_ACTIVE_HIGH>;
	};

	google_tk4c: panel@2 {
		compatible = "google,tk4c";
		label = "google-tk4c";
		channel = <0>;
		touch = <&spitouch>;

		/* reset, power */
		reset-gpios = <&gpp0 0 GPIO_ACTIVE_HIGH>;
		vci-supply = <&m_ldo14_reg>;
		vddi-supply = <&s_bucka_reg>;
		vddd-supply = <&disp_vddd>;
		vddd-gpios = <&gpp21 5 GPIO_ACTIVE_HIGH>;
		vddd_gpio_fixed_level = <0>;
	};

	panel@3 {
		compatible = "samsung,emul";
		label = "samsung-emul";
		channel = <0>;

		/* reset, power */
		reset-gpios = <&gpp0 0 GPIO_ACTIVE_HIGH>;
	};
};

&disp_vddd {
	status = "okay";
	gpio = <&gpp21 4 GPIO_ACTIVE_HIGH>;
};

&m_ldo14_reg {
	regulator-min-microvolt = <3100000>;
	regulator-max-microvolt = <3100000>;
};
